aiodns==2.0.0
aiohttp==3.6.2
asgiref==3.2.10
async-timeout==3.0.1
attrs==19.3.0
cchardet==2.1.6
certifi==2020.6.20
cffi==1.14.1
chardet==3.0.4
Django==3.1.1
django-compat==1.0.15
gunicorn==20.0.4
idna==2.10
multidict==4.7.6
pycares==3.1.1
pycparser==2.20
pytz==2020.1
requests==2.24.0
sentry-sdk==0.17.3
six==1.15.0
sqlparse==0.3.1
urllib3==1.25.10
yarl==1.5.1
daphne==2.5.0
django-background-tasks==1.2.5
mysqlclient==2.0.1