[mysqld]
innodb_buffer_pool_chunk_size=200000000
innodb_buffer_pool_instances=16
innodb_buffer_pool_size=3200000000
key_buffer_size=2684354560
innodb_ft_sort_pll_degree=4
innodb_ft_min_token_size=2
innodb_ft_enable_stopword=OFF