{% extends 'parents/main.html' %}
{% load static %}
{% load extra %}
{% block title %}Group{% endblock %}
{% block head %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}">
    <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/actions.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/urlify.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/prepopulate.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/vendor/xregexp/xregexp.js' %}"></script>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/responsive.css' %}">
    {% if lang == 'fa' %}
        <link rel="stylesheet" href="{% static 'admin/css/rtl.css' %}">
        <link rel="stylesheet" href="{% static 'admin/css/responsive_rtl.css' %}">
        <link rel="stylesheet" href="{% static 'admin/css/font.css' %}">
    {% endif %}
    <meta name="robots" content="NONE,NOARCHIVE">
{% endblock %}
{% block body %}
<!-- Container -->
<div id="container">


    <!-- Header -->
    <div id="header">
        <div id="branding">

<h1 id="site-name">Sholex Bot</h1>

        </div>
        <div id="user-tools">

                Welcome,
                <strong>{{ form.first_name }}, </strong>
                <a href="{% url 'groupguard:logout' %}">Log out</a>
        </div>

    </div>
    <!-- END Header -->
    <!-- Content -->
<div id="content" class="colM">

    <h1>{% if lang == 'en' %}Manage Group{% else %}مدیریت گروه{% endif %}</h1>
    <div id="content-main">
<form method="post" id="group_form" novalidate="" action="{% url 'groupguard:panel' %}">{% csrf_token %}
<div>
<fieldset class="module aligned ">
<h2>{% if lang == 'en' %}Information{% else %}مشخصات{% endif %}</h2>
    <div class="form-row field-chat_id">
        <div>
            {{ form.chat_id.label_tag }}
            {{ form.chat_id }}
        </div>
    </div>
  <div class="form-row field-channel">
        <div>
            {{ form.channel.label_tag }}
            {{ form.channel }}
            {% if form.channel.errors %}
                <ul class="errorlist">
                    {% for error in form.channel.errors %}
                    <li><strong>{{ error }}</strong></li>
                    {% endfor %}
                </ul>
            {% else %}
                <div class="help">{{ form.channel.help_text }}</div>
            {% endif %}
        </div>
    </div>
    <div class="form-row field-rules">
        <div>
            {{ form.rules.label_tag }}
            {{ form.rules }}
        </div>
    </div>
<div class="form-row field-lang">
    <div>
        {{ form.lang.label_tag|add_class:'required' }}
        {{ form.lang }}
    </div>
</div>
<div class="form-row field-promoted">
    <div class="checkbox-row">
        {{ form.promoted }}{{ form.promoted.label_tag|add_class:'vCheckboxLabel' }}
    </div>
</div>
</fieldset>
<fieldset class="module aligned ">
    <h2>{% if lang == 'en' %}Status{% else %}وضعیت{% endif %}</h2>
        <div class="form-row field-status">
            <div>
                {{form.status.label_tag|add_class:'required'}}
                {{ form.status }}
            </div>
        </div>
</fieldset>
  <fieldset class="module aligned ">
    <h2>{% if lang == 'en' %}Punishing{% else %}مجازات{% endif %}</h2>


        <div class="form-row field-punish">


                <div>
                    {{ form.punish.label_tag|add_class:'required' }}
                    {{ form.punish }}
                </div>

        </div>

        <div class="form-row field-max_warn field-max_warn_punish">


                <div class="fieldBox field-max_warn">
                    {{ form.max_warn.label_tag|add_class:'required' }}
                    {{ form.max_warn }}
                </div>

                <div class="fieldBox field-max_warn_punish">
                    {{ form.max_warn_punish.label_tag|add_class:'required inline' }}
                    {{ form.max_warn_punish }}
                </div>

        </div>

        <div class="form-row field-clear_days">


                <div>
                    {{ form.clear_days.label_tag|add_class:'required' }}
                    {{ form.clear_days }}
                </div>

        </div>

</fieldset>


  <fieldset class="module aligned ">
    <h2>{% if lang == 'en' %}Locks{% else %}قفل ها{% endif %}</h2>


        <div class="form-row field-id_lock field-link_lock field-curse_lock">


                <div class="fieldBox field-id_lock">


                    {{ form.id_lock }}{{ form.id_lock.label_tag|add_class:'vCheckboxLabel' }}
                </div>

                <div class="fieldBox field-link_lock">
                    {{ form.link_lock }}{{ form.link_lock.label_tag|add_class:'vCheckboxLabel inline' }}
                </div>

                <div class="fieldBox field-curse_lock">
                   {{ form.curse_lock }}{{ form.curse_lock.label_tag|add_class:'vCheckboxLabel inline' }}
                </div>

        </div>

        <div class="form-row field-sharp_lock field-text_lock field-forward_lock">


                <div class="fieldBox field-sharp_lock">
                    {{ form.sharp_lock }}{{ form.sharp_lock.label_tag|add_class:'vCheckboxLabel' }}
                </div>

                <div class="fieldBox field-text_lock">
                    {{ form.text_lock }}{{ form.text_lock.label_tag|add_class:'vCheckboxLabel inline' }}
                </div>

                <div class="fieldBox field-forward_lock">
                    {{ form.forward_lock }}{{ form.forward_lock.label_tag|add_class:'vCheckboxLabel inline'}}
                </div>

        </div>

        <div class="form-row field-image_lock field-video_lock field-sticker_lock">


                <div class="fieldBox field-image_lock">
                    {{ form.image_lock }}{{ form.image_lock.label_tag|add_class:'vCheckboxLabel'}}
                </div>

                <div class="fieldBox field-video_lock">
                    {{ form.video_lock }}{{ form.video_lock.label_tag|add_class:'vCheckboxLabel inline' }}
                </div>

                <div class="fieldBox field-sticker_lock">
                    {{ form.sticker_lock }}{{ form.sticker_lock.label_tag|add_class:'vCheckboxLabel inline' }}
                </div>
        </div>


        <div class="form-row field-location_lock field-phone_number_lock field-voice_message_lock">


                <div class="fieldBox field-location_lock">
                    {{ form.location_lock }}{{ form.location_lock.label_tag|add_class:'vCheckboxLabel' }}
                </div>

                <div class="fieldBox field-phone_number_lock">
                    {{ form.phone_number_lock }}{{ form.phone_number_lock.label_tag|add_class:'vCheckboxLabel inline' }}
                </div>

                <div class="fieldBox field-voice_message_lock">
                    {{ form.voice_message_lock }}{{ form.voice_message_lock.label_tag|add_class:'vCheckboxLabel inline' }}
                </div>

        </div>

        <div class="form-row field-video_message_lock field-document_lock field-gif_lock">


                <div class="fieldBox field-video_message_lock">
                    {{ form.video_message_lock }}{{ form.video_message_lock.label_tag|add_class:'vCheckboxLabel' }}
                </div>

                <div class="fieldBox field-document_lock">
                    {{ form.document_lock }}{{ form.document_lock.label_tag|add_class:'vCheckboxLabel inline' }}
                </div>

                <div class="fieldBox field-gif_lock">
                    {{ form.gif_lock }}{{ form.gif_lock.label_tag|add_class:'vCheckboxLabel inline' }}
                </div>

        </div>

        <div class="form-row field-poll_lock field-game_lock field-english_lock">


                <div class="fieldBox field-poll_lock">
                    {{ form.poll_lock }}{{ form.poll_lock.label_tag|add_class:'vCheckboxLabel' }}
                </div>

                <div class="fieldBox field-game_lock">
                    {{ form.game_lock }}{{ form.game_lock.label_tag|add_class:'vCheckboxLabel inline' }}
                </div>

                <div class="fieldBox field-english_lock">
                    {{ form.english_lock }}{{ form.english_lock.label_tag|add_class:'vCheckboxLabel inline' }}
                </div>

        </div>

        <div class="form-row field-persian_lock field-contact_lock field-bot_lock">


                <div class="fieldBox field-persian_lock">
                    {{ form.persian_lock }}{{ form.persian_lock.label_tag|add_class:'vCheckboxLabel' }}
                </div>

                <div class="fieldBox field-contact_lock">
                    {{ form.contact_lock }}{{ form.contact_lock.label_tag|add_class:'vCheckboxLabel inline' }}
                </div>

                <div class="fieldBox field-bot_lock">
                    {{ form.bot_lock }}{{ form.bot_lock.label_tag|add_class:'vCheckboxLabel inline' }}
                </div>

        </div>
       <div class="form-row field-services_lock field-inline_keyboard_lock">
        <div class="fieldBox field-services_lock">
                {{ form.services_lock }}{{ form.services_lock.label_tag|add_class:'vCheckboxLabel' }}
        </div>
        <div class="fieldBox field-inline_keyboard_lock">
            {{ form.inline_keyboard_lock }}{{ form.inline_keyboard_lock.label_tag|add_class:'vCheckboxLabel inline' }}
        </div>

      </div>

</fieldset>


  <fieldset class="module aligned ">
    <h2>{% if lang == 'en' %}Welcoming{% else %}خوش آمدگویی{% endif %}</h2>


        <div class="form-row field-is_welcome_message">


                <div class="checkbox-row">
                    {{ form.is_welcome_message }}{{ form.is_welcome_message.label_tag|add_class:'vCheckboxLabel'  }}
                </div>

        </div>
        <div class="form-row field-welcome_message">
            <div>
                {{ form.welcome_message.label_tag|add_class:'required' }}{{ form.welcome_message}}
                <div class="help">{{ form.welcome_message.help_text }}</div>
            </div>
        </div>

</fieldset>


  <fieldset class="module aligned ">
    <h2>{% if lang == 'en' %}Anti Spam{% else %}ضد اسپم{% endif %}</h2>


        <div class="form-row field-anti_spam">


                <div class="checkbox-row">
                    {{ form.anti_spam }}{{ form.anti_spam.label_tag|add_class:'vCheckboxLabel' }}
                </div>

        </div>

        <div class="form-row field-max_messages">


                <div>
                    {{ form.max_messages.label_tag|add_class:'required' }}{{ form.max_messages }}
                </div>

        </div>

        <div class="form-row field-spam_punish">


                <div>
                    {{ form.spam_punish.label_tag|add_class:'required' }}{{ form.spam_punish }}
                </div>

        </div>

        <div class="form-row field-spam_time">


                <div>
                    {{ form.spam_time.label_tag|add_class:'required' }}{{ form.spam_time }}
                    <div class="help">{{ form.spam_time.help_text }}</div>
                </div>

        </div>

</fieldset>
    <fieldset class="module aligned ">
    <h2>{% if lang == 'en' %}Reporting{% else %}سیستم ریپورت{% endif %}</h2>
        <div class="form-row field-reporting">
            <div class="checkbox-row">
                {{ form.reporting }}{{ form.reporting.label_tag|add_class:'vCheckboxLabel' }}
            </div>
        </div>

        <div class="form-row field-max_reports">
            <div>
                {{ form.max_reports }}{{ form.max_reports.label_tag|add_class:'required' }}
            </div>

        </div>

</fieldset>
<fieldset class="module aligned ">
    <h2>{% if lang == 'en' %}Bot Messages{% else %}پیام های ربات{% endif %}</h2>
        <div class="form-row field-deleting">
            <div class="checkbox-row">
                {{ form.deleting }}{{ form.deleting.label_tag|add_class:'vCheckboxLabel' }}
            </div>
        </div>
    <div class="form-row field-delete_time">
        <div>
            {{ form.delete_time.label_tag|add_class:'required' }}
            {{ form.delete_time }}
            <div class="help">{{ form.delete_time.help_text }}</div>
        </div>
    </div>
</fieldset>
<fieldset class="module aligned ">
    <h2>{% if lang == 'en' %}Validation{% else %}احراز هویت{% endif %}</h2>
        <div class="form-row field-anti_tabchi">
            <div class="checkbox-row">
                {{ form.anti_tabchi }}{{ form.anti_tabchi.label_tag|add_class:'vCheckboxLabel' }}
            </div>
        </div>
        <div class="form-row field-tabchi_time">
            <div>
                {{ form.tabchi_time.label_tag|add_class:'required' }}
                {{ form.tabchi_time }}
                <div class="help">{{ form.tabchi_time.help_text }}</div>
            </div>
        </div>
        <div class="form-row field-number_range">
            <div>
                {{ form.number_range.label_tag }}
                {{ form.number_range }}
            </div>

        </div>
</fieldset>
<fieldset class="module aligned ">
    <h2>{% if lang == 'en' %}Forced Add{% else %}اد اجباری{% endif %}</h2>
        <div class="form-row field-force_count">
            <div>
                {{ form.force_count.label_tag }}
                {{ form.force_count }}
            </div>
        </div>
</fieldset>
  <fieldset class="module aligned ">
    <h2>{% if lang == 'fa' %}قفل خودکار{% else %}Auto Lock{% endif %}</h2>


        <div class="form-row field-auto_lock">
                <div class="checkbox-row">
                    {{ form.auto_lock }}{{ form.auto_lock.label_tag|add_class:'vCheckboxLabel' }}
                </div>

        </div>

        <div class="form-row field-auto_lock_on">
            <div>
                {{ form.auto_lock_on.label_tag }}
                {{ form.auto_lock_on }}
                {% if form.auto_lock_on.errors %}
                    <ul class="errorlist">
                        {% for error in form.auto_lock_on.errors %}
                        <li><strong>{{ error }}</strong></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <div class="help">{{ form.auto_lock_on.help_text }}</div>
                {% endif %}
            </div>
        </div>
        <div class="form-row field-auto_lock_off">
            <div>
                {{ form.auto_lock_off.label_tag }}
                {{ form.auto_lock_off }}
                {% if form.auto_lock_off.errors %}
                    <ul class="errorlist">
                        {% for error in form.auto_lock_off.errors %}
                        <li><strong>{{ error }}</strong></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <div class="help">{{ form.auto_lock_off.help_text }}</div>
                {% endif %}
            </div>
        </div>
</fieldset>
<div class="submit-row">
<input type="submit" value="{% if lang == 'en' %}Save{% else %}ثبت{% endif %}" class="default" name="_save">
</div>
</div>
</form></div>
    </div>
    <!-- END Content -->
</div>
<!-- END Container -->
    <script src="{% static 'groupguard/js/main.js' %}"></script>
{% endblock %}
