@font-face {
    font-family: 'vazir';
    src: url('../../fonts/vazir/Vazir-FD.ttf');
    src: url('../../fonts/vazir/Vazir-FD.otf');
    src: url('../../fonts/vazir/Vazir-FD.eot');
    src: url('../../fonts/vazir/Vazir-FD.svg');
    src: url('../../fonts/vazir/Vazir-FD.woff');
    src: url('../../fonts/vazir/Vazir-FD.woff2');
}

body {
    font-family: 'vazir', sans-serif;
    line-height: 1.7em;
    font-size: 16px;
}